<div class="container my-5">
    <div class="row">
        <div class="col-md-4" >
            <!-- owl-carousel - Slider -->
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let img of productDetails.images">
                  <ng-template carouselSlide>
                    <img [src]="img">
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
        </div>
        <div class="col-md-8 d-flex align-items-center justify-content-center" >
            <div class="w-100">
                <h2> {{productDetails.title}}</h2>
                <p class="lead">{{productDetails.description}}</p>
                <p class="text-main fst-italic">{{productDetails.category.name}}</p>
                <div class="d-flex justify-content-between mb-2">
                    <span class="fst-italic">{{productDetails.price}} EGP</span>
                    <span>
                    <i class="fa-solid fa-star rating-color"></i> {{productDetails.ratingsQuantity}}
                    </span>
                </div>
                <button class="btn bg-main text-capitalize w-100 text-light">add to cart</button>
            </div>
        </div>
    </div>
</div>