<div class="container py-5">
<div class="row">
    <h2 class="text-capitalize mb-5"> enter your <span class="text-main">email</span> </h2>
    <form action="" )>
        <label for="email">Email :</label>
        <input type="email" id="email" class="form-control my-3" ormControlName="email" 
            [class.is-invalid]="forgotPassword.get('email')?.errors && forgotPassword.get('email')?.touched"
            [class.is-valid]="forgotPassword.get('email')?.errors== null"
            type="email" class="form-control">
            <div *ngIf="forgotPassword.get('email')?.errors && forgotPassword.get('email')?.touched" class="alert alert-danger mt-2">
                <p *ngIf="forgotPassword.get('email')?.getError('required')">required input ..!</p>
                <p *ngIf="forgotPassword.get('email')?.getError('email')">enter avalid email ..!</p>
            </div>
        <button class="btn btn-outline-success" type="submit">send code</button>
    </form>
</div>
</div>